body {
    background-image: none;
    background-attachment: fixed;
    background-size: initial;
    background-repeat: repeat;
    background-color: rgb(31, 35, 28);    q+q+qqqqqqqqq2-
}
body, i, h1, h6 {
    color: rgba(255, 255, 255, 0.6);
}
/* Parallax image */
#parallax-section {
    background-image: url("../assets/indexBg.jpeg")/* -25px -50px*/;
    background-size: calc(100% + 100px);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    z-index:-10;
}
section {
    height: 100vh;
    font-family: "Norse";
}

section:nth-child(2) {
    background-color: rgba(34, 34, 34, 0.7);
    background-image: url("../assets/curls.png")/* -25px -50px*/;    
}


/* Logo image */
#logo-img {
    width: inherit;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.5;
}

/* Rune text */
.runes {
    font-family: "Norse";
    color: rgba(255, 255, 255, 0.7);
}
.runes:hover {
    color: rgb(0, 174, 255);
}

runes, h1 {
    color: inherit;
    font-size: 5vw;
    text-align: center;
    margin-bottom: 0;        
}
runes, h6 {
    color: inherit;
    font-size: 2vw;
    text-align: center;
    margin-top: 0;                
}
.arrow{
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;    
}
#down-arrow {
    position: absolute;
    bottom: 0;
}

.arrow:hover{
    color: rgb(255, 69, 0);
}
arrow, a, i {
    color: inherit;
}

@media screen and (max-width: 1065px) {
#parallax-section {
        background-size: auto calc(100% + 100px)
    }

runes, h1 {
    font-size: 5vh;
    text-align: center;        
}
runes, h6 {
    font-size: 2vh;
    text-align: center;                
}
}
    