body {
    background-image: url("../assets/indexBg.jpeg")/* -25px -50px*/;
    background-size: cover;
    background-attachment: fixed;    
}
body, i, h1, h6 {
    color: rgba(255, 255, 255, 0.6);
}
/* Parallax image */
#parallax-section {
    background-image: url("../assets/indexBg.jpeg")/* -25px -50px*/;
    background-size: calc(100% + 100px);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    z-index:-10;
}
section {
    height: 100vh;
    font-family: "Norse";
}
section:nth-child(1) {
    
    background-color: rgb(35, 36, 32);
}
section:nth-child(2) {
    background-color: rgba(34, 34, 34, 0.7);
}


/* Logo image */
#logo-img {
    width: inherit;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.5;
}

/* Rune text */
.runes {
    font-family: "Norse";
}
.runes:hover {
    color: rgb(115, 218, 218);
}

runes, h1 {
    font-size: 5vw;
    text-align: center;        
}
runes, h6 {
    font-size: 2vw;
    text-align: center;                
}

/*  runes, h1 {
    font-size: 250%;
} */

@media screen and (max-width: 992px) {
#parallax-section {
        background-size: auto calc(100% + 100px)
    }

runes, h1 {
    font-size: 5vh;
    text-align: center;        
}
runes, h6 {
    font-size: 2vh;
    text-align: center;                
}
}
    
